body{
	font-family: Arial;
	padding:20px;
	background-color: #f1f1f1;
}

/*header com titulo principal*/
header{
	padding: 25px;
	font-size: 35px;
	text-align: center;
	background: white;
}

.sicial{
	width: 16px;
	height: 16px;
}

/*coluna da esquerda*/
.left-column{
	float: left;
	width:25%;
	padding-right: 20px;
	
}

/*coluna do meio*/
.middle-column{
	float: left;
	width: 50%;
}

* {
	box-sizing: border-box;
}

/*coluna da direita*/
.right-column{
	float: left;
	width: 25%;
	padding-left:  20px;
	position: sticky;
	top: 0;
}

.card .bold{
	font-weight: bold;
}

#occupation-area{
	margin: 10px;
}

article {
	background-color: white;
	padding:  20px;
	margin-top: 20px;
}


.card-content li {
	margin: 10px;
}


footer{
	padding:  20px;
	text-align: center;
	background: #ddd;
	margin-top: 20px;
}

main:after{
	content: "";
	display: table;
	clear: both;
}

#profissional-picture{
	background-color: #aaa;
	width: 100%;
	padding: 5%;
}

#profissional-picture{
	animation-duration: 4s;
	animation-name: rotate-image;
	animation-timing-function: ease-in-out;
	animation-delay: 2s;
	animation-iteration-count: 2;
}

@keyframes rotate-image{
	50%{
		transform: translateZ(-10px) rotateX(60deg) rotateZ(29deg) rotateY(-180deg);
	}
}


@media all and (max-width: 900px){

	header{
		font-size: 100%;
	}

	.left-column{
		width: 100%;
		padding-right: 0px;
	}

	.middle-column{
		width: 100%;
	}

	.right-column{
		width: 100%;
		padding-left: 0px;
	}
}

.imagemfundo{
	background-image: url('img/fundo.jpeg');
    background-size: cover; /* Ajusta a imagem para cobrir toda a área */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-position: center; /* Centraliza a imagem */
}