<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../static/css/index.css">

		<title>Gestor de TI</title>

	</head>
	<body>
		<header>	
			<div class="logo">
				<figure>
					<img src="../static/img/logo1.png" class="logo"  alt="logo">			
				</figure>
			</div>			
			<div>
				<h2>Gestor De TI</h2>
			</div>
		</header>
		<br>
		<main>
			<br>
			<br>
		 	<section class="content" >
				<h3>Gestor da Tecnologia da informação</h3>
				<p> 
					Um gestor de TI (Tecnologia da Informação) é responsável por planejar, 
					coordenar e gerenciar todas as atividades relacionadas à tecnologia dentro de uma organização. 
				</p>				
			</section>
			<br>
			<section class="content" >
				<h3> 
					Planejamento Estratégico de TI
				</h3>
				<p>
					O gestor de TI trabalha em conjunto com a alta administração para definir uma estratégia de tecnologia que suporte as metas gerais da empresa. Isso inclui avaliar quais sistemas e soluções tecnológicas serão mais benéficos para os negócios no longo prazo.
				</p>
				<p>
					Ele também ajuda a prever as futuras necessidades tecnológicas da organização e cria planos de ação para garantir que a empresa esteja preparada para mudanças tecnológicas.
				</p>	
				<br>
				
				<figure >
					<img src="../static/img/Planejamento.png"  class="image" alt="planejamento">
				</figure>
				<div class="carousel-container-mobile">
					<div class="carousel-mobile">
						<figure>
							<img src="../static/img/Planejamento.png" alt="planejamento">
						</figure>
					</div>
				</div>
			</section>
			<br>
			<section class="content">
				<h3>	
					Gerenciamento da Infraestrutura de TI
				</h3>
				<p> 
					A infraestrutura de TI inclui servidores, redes, sistemas operacionais, bancos de dados e dispositivos usados pela empresa. O gestor de TI deve garantir que esses componentes estejam sempre operando de maneira eficaz.
				</p>	
				<P>
					Ele também é responsável por gerenciar upgrades de hardware e software, garantindo que a tecnologia permaneça atualizada e adequada às necessidades da organização.
				</p>
				<div class="carousel-container">
					<div class="carousel">
						<figure>
							<img src="../static/img/Infraestrutura.png"  alt="infraestrutura">
						</figure>
						<figure>
							<img src="../static/img/infraestrutura1.2.jpg" alt="infraestrutura">
						</figure>
					</div>
				</div>
			</section>
			<br>
			<section class="content">
				<h3>
					Gestão de Equipe	
				</h3>
				<p>
					O gestor de TI lidera uma equipe de profissionais de tecnologia, que pode incluir analistas de sistemas, desenvolvedores, administradores de rede, suporte técnico e especialistas em segurança.
				</p>
				<p>
					Além de supervisionar o trabalho da equipe, o gestor deve garantir que cada membro tenha as habilidades necessárias para desempenhar suas funções e oferecer oportunidades de capacitação e treinamento contínuo.
				</p>	
				<br>
				<figure >
					<img src="../static/img/gestãoequipe.jpg" class="image"  alt="gestaoequipe">
				</figure>
				<div class="carousel-container-mobile">
					<div class="carousel-mobile">
						<figure>
							<img src="../static/img/gestãoequipe.jpg"  alt="gestaoequipe">
						</figure>
					</div>
				</div>
			</section>
			<br>
			<section class="content">
				<h3>
					Segurança da Informação
				</h3>
				<p>
					Uma das principais responsabilidades é proteger os ativos digitais da organização, como dados de clientes e informações financeiras. O gestor de TI implementa medidas de segurança, como firewalls, sistemas de detecção de intrusos, criptografia e políticas de acesso.
				</p>
				<p></p>
					Ele também deve criar planos de recuperação de desastres, garantindo que a empresa possa se recuperar rapidamente de falhas técnicas, ataques cibernéticos ou outras emergências que possam comprometer a continuidade dos negócios.	
				</p>
				<div class="carousel-container">
					<div class="carousel">
						<figure>
							<img src="../static/img/SI1.jpg" alt="SI">
						</figure>
						<figure>
							<img src="../static/img/SI.png" alt="SI">
						</figure>
					</div>
				</div>
			</section>
			<br>
			<section class="content">
				<h3>
					Orçamento e Custos de TI
				</h3>
				<p>
					O gestor de TI é responsável por gerenciar o orçamento do departamento de TI, controlando gastos relacionados a hardware, software, contratos de manutenção e serviços terceirizados.
				</p>
				<p> 
					Ele também precisa justificar investimentos em novas tecnologias e encontrar maneiras de otimizar custos, seja negociando com fornecedores ou implementando soluções mais econômicas.
				</p>
				<br>
		


				<figure >
					<img src="../static/img/gestãodecustos.png" class="image" alt="SI">
				</figure>
				<div class="carousel-container-mobile">
					<div class="carousel-mobile">
						<figure>
							<img src="../static/img/gestãodecustos.png" alt="SI">
						</figure>
					</div>
				</div>
			</section>
			<br>
			<section class="content">
				<h3> 
					Suporte Técnico e Atendimento ao Cliente Interno
				</h3>
				<p>
					Um bom gestor de TI deve garantir que os usuários internos (funcionários da empresa) tenham suporte para lidar com problemas técnicos, como falhas de software, perda de dados ou dificuldades de uso de sistemas.
				</p>
				<p>
					Esse suporte é vital para garantir que a operação da empresa continue sem interrupções. Além disso, o gestor pode implementar soluções de autoatendimento, como FAQs (Perguntas Frequentes) e bases de conhecimento, para melhorar a eficiência.
				</p>
				<br>
				<div class="carousel-container">
					<div class="carousel">
						<figure>
							<img src="../static/img/Suporteti.png" alt="SI">
						</figure>
						<figure>
							<img src="../static/img/Atendimento.png" alt="Atendimento">
						</figure>
					</div>
				</div>
			</section>
			<br>
			<section class="content">
				<h3>
					Inovação Tecnológica e Transformação Digital
				</h3>
				<p>
					O gestor de TI deve acompanhar as tendências tecnológicas e ser capaz de identificar quais inovações podem trazer valor para o negócio, como a automação, a computação em nuvem, a inteligência artificial e o uso de big data.
				</p>
				<p>	
					Ele lidera a transformação digital dentro da empresa, promovendo a adoção de novas tecnologias que melhorem a produtividade, reduzam custos e aumentem a competitividade.
				</p>
				<br>
				<div class="carousel-container">
					<div class="carousel">					
						<figure>
							<img src="../static/img/ciclos-de-inovacao.png" alt="inovação">
						</figure>
					
						<figure>
							<img src="../static/img/transformaçãodigital.jpg" alt="transformaçãodigital">
						</figure>
					</div>
				</div>
			</section>
			<br>
			<section class="content">
				<h3>
					Gerenciamento de Projetos de TI
				</h3>
				<p>
					Implementar novos sistemas ou atualizar a infraestrutura existente são projetos complexos que exigem planejamento detalhado, gerenciamento de riscos e coordenação entre diferentes departamentos.
				</p>
				<p>
					O gestor de TI supervisiona esses projetos para garantir que sejam concluídos dentro do prazo e do orçamento, e que atendam às expectativas em termos de desempenho e benefícios para a empresa.
				</p>
				<br>
				<div class="carousel-container">
					<div class="carousel">
						<figure>
						<img src="../static/img/planejamento1.2.webp" alt="Gerenciamentodeprojetos">
						</figure>
						<figure>
							<img src="../static/img/projeto.webp" alt="SI">
						</figure>
						<figure>
							<img src="../static/img/projeto1.jpg"  alt="SI">
						</figure>		
					</div>
				</div>
			</section>
			<br>
			<section class="content">
				<h3>
					Conformidade Legal e Regulatória
				</h3>
				<p>
					Em muitas indústrias, as empresas precisam seguir regulamentações específicas relacionadas à proteção de dados (como a LGPD no Brasil ou GDPR na Europa). O gestor de TI garante que todos os sistemas e processos da empresa estejam em conformidade com essas exigências legais.
				</p>
				<p>
					Ele também assegura que os contratos de tecnologia e acordos com fornecedores cumpram as normativas vigentes.
				</p>
				<br>
				
				<figure>
					<img src="../static/img/conformidade.jpg" class="image"  alt="conformidade">
				</figure>
				<div class="carousel-container-mobile">
					<div class="carousel-mobile">
						<figure>
							<img src="../static/img/conformidade.jpg" alt="conformidade">
						</figure>
					</div>
				</div>
			</section>
			<br>
			<section class="content">
				<h3>
					Relatórios e Indicadores de Desempenho (KPIs)
				</h3>
				<p>
					Um gestor de TI utiliza KPIs (Key Performance Indicators) para medir a eficiência das operações de TI, como tempo de inatividade, tempo médio de resolução de problemas, segurança de rede e uso de recursos.
				</p>
				<p> 	
					Com esses dados, ele pode ajustar processos e identificar áreas para melhorias, garantindo que a infraestrutura de TI seja otimizada para as necessidades do negócio.
				</p>
				<div class="carousel-container">
					<div class="carousel">
						<img src="../static/img/kpis.png" alt="kpis">
						<img src="../static/img/kpis1.png" alt="kpis">
						<img src="../static/img/kpis1.1.jpg" alt="kpis">
						<img src="../static/img/desempenho.png" alt="desempenho">
					</div>
				</div>
			</section>
			<br>
		</main>
		<footer>	
			<h3>Rede Social</h3>
			<a href="https://www.linkedin.com/in/	christhian-rodrigues-3232b71ab/" target="blank"> <p> Linkedin</p></a>
			<a href="https://www.linkedin.com/in/	christhian-rodrigues-3232b71ab/" target="blank">
			<img id="social-network" src="../static/img/linkedin-svgrepo-com.svg" alt="linkedin"> </a>                           
			<a href="https://api.whatsapp.com/send?phone=5511945264516&text=Gostaria%20de%20convid%C3%A1-lo%20para%20fazer%20parte%20da%20nossa%20equipe!" target="blank">
			<p>WhatsApp</p></a>
			<a href="https://api.whatsapp.com/send?phone=5511945264516&text=Gostaria%20de%20convid%C3%A1-lo%20para%20fazer%20parte%20da%20nossa%20equipe!" target="blank">
			<img id="social-network" src="../static/img/whatsapp-color-svgrepo-com.svg" alt="whatsapp"></a>  
		</footer>
	</body>
</html>