<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../static/css/projects.css">
		<script src="../static/js/script.js"></script>

		<title>Portifólio</title>
	</head>
	<body>
		<header>		
			<img id="logo" src="../static/img/logo1.png" alt="Logo">			
			<nav class="menu">
				<ul> 
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">Sobre</a></li>
					<li><a href="projects.html">Projetos</a></li>
					<li><a href="contact.html">Contato</a></li>
				</ul>
			</nav>
			<div class="mobile-menu-icon">
				<button onclick="menuShow()"><img class="icon" src="../static/img/menu-hamburger-nav-svgrepo-com.svg" alt="menu"></button>
			</div>
			<nav class="mobile-menu">
				<ul> 
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">Sobre</a></li>
					<li><a href="projects.html">Projetos</a></li>
					<li><a href="contact.html">Contato</a></li>
				</ul>
			</nav>
		</header>
		<main>
		 	<section class=" left-column">	
				<article>
					<h2>Projetos:</h2>
					<p>Alguns projetos desenvovidos</p>
				</article>				
			</section>
			<section class="middle-column">
				<article> 
				<h2 id="Portifolio">Primeiro Curriculo</h2> 
					<p>Desenvolvido no curso SENAC, realizei conforme o professor orientou.</p>
					<figure>
						<img class="projetos" src="../static/img/Projetosenacprint1.jpg" alt="projeto"/></a>
					</figure>
					<figure>
						<img class="projetos" src="../static/img/Projetosenacprint2.jpg"  alt="projeto"/></a>
					</figure>
				</article>
				<article>
					<h2 id="Portifolio2">   Curriculo editado  </h2>
					<p>Realizei algumas melhorias no projeto anterior realizado no curso, aplicando efeitos visuais de acordo com o meu gosto,
					para tentar fazer algo diferente que chamasse atenção.</p>		
					<a href="https://portifolioeditado.netlify.app/" target="blank"><p>Visualizar</p>
					</a> 		
					<figure>
						<img class="projetos"  src="../static/img/projeto2.1.jpg" alt="projeto2"/></a>
					</figure>
					<figure>
						<img class="projetos"  src="../static/img/projeto2.jpg" alt="projeto2"/></a>
					</figure>
					<figure>
						<img class="projetos" src="../static/img/projeto2.2.jpg"  alt="projeto2" /></a>
					</figure>
				</article>
				<article>
						<h2 id="projeto3"> Projeto site de turismo </h2>
						<a href="https://modelositeturismo.netlify.app/" target="blank"><p>Visualizar Site</p>
						</a> 
                    <figure>
						<img class="projetos" src="../static/img/projeto3.jpg" alt="projeto3"  /></a>
					</figure>
					<figure>
						<img class="projetos"  src="../static/img/projeto3.1.jpg" alt="projeto3"/></a>
					</figure>
					<figure>
						<img class="projetos"  src="../static/img/projeto3.2.jpg" alt="projeto3"/></a>
					</figure>
				</article>
				<article>
					<h2 id="projeto4"><h2>Site Responsivo Gestor de TI</h2> 
					<p>Criei um modelo responsivo com informações sobre o que faz um gestor de TI</p>
					<a href="https://gestordeti.netlify.app/" target="blank"><p>Visualizar Site</p>
					</a> 				
				<figure>
					<img class="projetos" src="../static/img/siteresponsivo.jpg" alt="projeto4"  /></a>
				</figure>
							
				</article>
				<article>
					<h2 id="projeto5"> Projeto controle de RH </h2>
					<p>Excel foi utilizado para coleta e organização dos dados dos funcionários.
					</p>	
					<img class="projetos" src="../static/img/planilha.jpg" alt="Excel"/>	
					<h2> PowerBI</h2> 
					<p>
						Foi criado um Dashbord interativo para melhor visualização das informações.
					</p>
					<p>	
						O PowerBI ajudou a visualizar as informações do RH de forma mais clara e dinâmica,
						permitindo que as partes interessadas explorassem os dados com maior facilidade, 
						aplicando filtros e segmentações.
					</p>
					<img  class="projetos" src="../static/img/PowerBI.jpg" alt="PowerBI"/>
				</article>
				<article>
					<h2 id="projeto6"> 
						Controle de Locação de Veículos 
					</h2>
					<p>
						Possui duas planilhas de excel tem como 
						objetivo gerenciar e acompanhar as informações de clientes e as distâncias 
						percorridas pelos veículos locados.
					</p>
					<img class="projetos" src="../static/img/planilha1.jpg" alt="Excel"/>
					<figcaption>Planilha Clientes</figcaption>				     
					<img class="projetos" src="../static/img/planilha1.1jpg.jpg" alt="Excel"/>
					<figcaption>Planilha Quilômetros Percorridos</figcaption>
					<img class="projetos" src="../static/img/PowerBI1.jpg" alt="Excel"/>
					<figcaption>Relacionamento entre as tabelas</figcaption>
					<img class="projetos" src="../static/img/PowerBI1.1.jpg" alt="Excel"/>
					<figcaption>Relatório Final</figcaption>
					<hr>
					<p>
						 O objetivo do projeto é gerenciar e monitorar a locação de veículos, 
						 mantendo um controle eficiente dos clientes e do uso dos veículos. 
						 O projeto visa fornecer insights sobre a quilometragem percorrida,
						 o histórico de locação e os padrões de uso dos veículos para otimizar 
						 a operação e facilitar a tomada de decisões.
					</p>
				</article>
			</section>
			<section class="right-column">
				<article>
					<h3>Projetos:</h3>
					<nav>			 					
						<ul>
							<a href="#Portifolio"><li>Primeiro Curriculo</li> </a>
							<a href="#Portifolio2"><li>Curriculo Editado</li></a>
							<a href="#projeto3"> <li> Projeto site de turismo</li> </a>
							<a href="#projeto4"> <li> Projeto Gestor de TI</li> </a>
							<a href="#projeto5"> <li>Projeto Controle de RH </li> </a>
							<a href="#projeto6"> <li>Projeto Controle de Locação de Veículos </li> </a>
						</ul>				
					</nav>
				</article>
			</section>
		</main>
		<footer>
            <h3 class="animation-footer" > Obrigado por visitar meu portfólio online</h3>
		</footer>
	</body>
</html>