<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../static/css/index.css">
		<script src="../static/js/script.js"></script>

		<title>Portifólio</title>

	</head>
	<body>
		<header>
			<img id="logo" src="../static/img/logo1.png" alt="Logo">	
			<nav class="menu">
				<ul> 
					<li><a href="/">Home</a></li>
					<li><a href="about">Sobre</a></li>
					<li><a href="projects">Projetos</a></li>
					<li><a href="contact">Contato</a></li>
				</ul>
			</nav>
			<div class="mobile-menu-icon">
				<button onclick="menuShow()"><img class="icon" src="../static/img/menu-hamburger-nav-svgrepo-com.svg" alt="menu"></button>
			</div>
			<nav class="mobile-menu">
				<ul> 
					<li><a href="/">Home</a></li>
					<li><a href="about">Sobre</a></li>
					<li><a href="projects">Projetos</a></li>
					<li><a href="contact">Contato</a></li>
				</ul>
			</nav>
		</header>
		<main>
		 	<section class=" left-column">	
				<article>
					<figure> 
					<img id="profissional-picture" src="../static/img/perfil.jpg" alt="Foto de perfil">
					</figure>
					<br>
				</article>		
			</section>
			<section class="middle-column">
				<article>
					<h2 
						id="personal-profile">Bem-vindo ao meu Portifólio!
					</h2>
					<p>
						Meu nome é Christhian Rodrigues Santos sou apaixonado por tecnologia e inovação, sou um profissional dedicado ao aprendizado contínuo,
						sempre buscando aprender e aprimorar minhas habilidades.
					</p>
					<p>
						Estou em busca de uma oportunidade de transição de carreira, desejo muito contribuir com os projetos da empresa e ajudar a alcançar seus objetivos de negócios.
					</p>
					<br>
				</article>
			</section>
		</main>
		<footer>	
			<h3	class="animation-footer">  Obrigado por visitar meu portfólio online</h3>
		</footer>
	</body>
</html>